body {
  background-color: #21232F;
  font-family: Freska, Source Sans Pro, sans-serif;
  line-height: 1; }

.header {
  height: 600px;
  width: 100%;
  background: url(../img/m-h-night.jpg) no-repeat center center;
  border-bottom-right-radius: 35%;
  color: #FDFDFD;
  position: relative;
  z-index: 1; }
  .header-wrap {
    padding: 2% 0 15% 10%;
    float: left;
    width: 50%; }
    .header-wrap .landing-logo {
      float: left;
      display: block; }
      .header-wrap .landing-logo p {
        float: right;
        margin: 5px 10px;
        font-weight: 600;
        width: 63px;
        letter-spacing: 2px; }
        .header-wrap .landing-logo p span {
          letter-spacing: normal;
          font-size: 8px;
          display: inline-block;
          padding-left: 6px; }
  .header_heading {
    margin-top: 100px;
    font-weight: 600;
    font-size: 54px;
    max-width: 500px; }
    .header_heading::before {
      content: '';
      display: block;
      background: #CA5744;
      z-index: -1;
      position: absolute;
      height: 25px;
      width: 17%;
      top: 34%; }
  .header_text {
    max-width: 500px; }
  .header_button, .section_banner_button {
    margin-top: 35px;
    border: 0 solid transparent;
    border-radius: 2px;
    background-color: #E2AD0D;
    padding: 12px 35px;
    color: #fff; }

.section {
  display: inline-block;
  margin-top: -3%;
  position: relative;
  z-index: 1; }
  .section_text {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #FDFDFD;
    margin: 10px auto; }
  .section::before {
    content: '';
    display: block;
    background: #CA5744;
    z-index: -1;
    position: absolute;
    height: 20px;
    width: 11%;
    top: 4%;
    right: 38%; }
  .section_card_wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 15%; }
  .section_card {
    background-color: #393C4C;
    text-align: center;
    padding: 10px;
    margin-right: 3%;
    width: 35%;
    height: 300px;
    position: relative;
    z-index: 1; }
    .section_card_heading {
      color: #fff;
      font-size: 20px;
      padding: 0;
      line-height: 0;
      font-weight: 600; }
    .section_card_text {
      color: #fff;
      font-size: 12px;
      padding: 0;
      line-height: 1.5; }
    .section_card span {
      content: '';
      display: block;
      background: #CA5744;
      z-index: -1;
      position: absolute;
      width: 47%;
      height: 12px;
      top: 58%;
      right: 75px; }

.section_card:nth-child(3) .section_card_underline {
  width: 39%;
  right: 85px; }

.section_card:nth-child(1) .section_card_underline {
  width: 55%;
  right: 63px; }

.section_banner {
  height: 125px;
  background: linear-gradient(to right, #E2AD0D, #CA5744);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin: 10% 0 0 25%;
  position: relative;
  z-index: 1; }
  .section_banner_button {
    margin: 0 50px 0 0; }
  .section_banner_text_wrap {
    margin: 0 0 0 50px;
    line-height: 0.5; }
  .section_banner_heading {
    font-weight: 600;
    font-size: 24px;
    color: #FDFDFD; }
  .section_banner_text {
    color: #c3c4c1; }
    .section_banner_text::after {
      content: '';
      display: block;
      background: #CA5744;
      z-index: -1;
      position: absolute;
      height: 10px;
      width: 8%;
      top: 42%;
      left: 22%; }

.footer {
  height: 200px;
  background-color: #393C4C;
  margin-top: -70px;
  color: #fff; }
  .footer-wrap {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 10%;
    padding-top: 75px; }
  .footer_text {
    width: 375px;
    color: #fff; }
  .footer_logo p {
    float: right;
    margin: 5px 10px;
    font-weight: 600;
    width: 63px;
    letter-spacing: 2px;
    color: #fff; }
    .footer_logo p span {
      letter-spacing: normal;
      font-size: 8px;
      display: inline-block;
      padding-left: 6px; }
