.container {
  width: 55%;
  margin: 0 auto;
}
.article {
  border: 1px solid black;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
  img {
    height: 100%;
    width: 45%;
  }
  &-text {
    width: 35%;
    &-hiddenContent {
      display: none;
    }
    button {
      border: none;
      background: transparent;
      outline: none;
    }
  }
  &-date {
    width: 12%;
  }
}
