$text-color: #1E2D31;
$button-color: #689309;
$header-image: url(../img/m-h-day.jpg);
$underline-color: #4896A5;
$background-color: #FEFEFE;
$background-gallery-footer: #232531;
$ready-gradient-left: #68930B;
$ready-gradient-right: #4896A5;